
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Alfa Slab One');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');


body {
    background-image: url("MB_background_1600x900_01.jpg");
    background-color: rgb(48, 83, 122);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
h1 {
    font: 55px Arial;
    color: white;
    text-align: center;
    font-size: 120px;
    font-weight: 900;
    font-family: fantasy;
    color: black;
    margin: auto;
}
.header {
    font-family: 'Alfa Slab One'; 
    font-size: 30px;  
    text-align: center;    
}
#logo {
    width:150px;
    height: auto;    
    display:block;
    margin: auto;
    padding: 1%;
}

#c_1 {
    text-align: center;
    margin: auto;
    font-family: 'Montserrat'; 
    font-size: 24px;
    color: black;
    width: 90%;

}

#c_2 {
    
    background-color: white;
    display: flex;
    justify-content: center;    
}

#tel {
    padding: 10px;
    font-size: 28px;
}

#m {
    padding: 10px;
    font-size: 28px;
}

a:link {
    text-decoration: none;
    color: black;
}

a:hover {    
    text-shadow: 2px 2px gray;
  }

#contact {
    height: auto;
    margin-right:auto;
    margin-left: 0;
    align-self: center;       
}

.images {    
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list {
    list-style-type: none;
    font-size: 21px;
    text-align: center;
}

.text {
    width: 816px;
    background-repeat: no-repeat;
    margin: auto;
}

#gall {
    display: inline;
    flex-direction: row;
    display: none;
}